body{
	background: url("http://upload.wikimedia.org/wikipedia/commons/0/05/20100726_Kalamitsi_Beach_Ionian_Sea_Lefkada_island_Greece.jpg");
}

h1{
	color: red; text-align: center; font-family:phosphate  
}

p{
	color:yellow; font-family: times 
}

h3{
	color: yellow
}

